*{
    margin: 0;
    padding: 0;
    font-family: Roboto;
}
html{
    font-size: 16px;
}

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #003366;
    color: white;
}

/*------HEADER-----*/

header{
    width: 100%;
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.logo-container{
    width: fit-content;
    margin: 0 100px 0 30px;
}

.logo-container h1{
    width: 100%;
}

.header-navbar{
    max-width: 700px;
    flex: 1;
    margin-left: auto;
    margin-right: 2rem;
}

nav ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-navbar li {
    list-style: none;
    font-size: 1.2rem;
    transition: transform 0.3s ease;
}

.header-navbar li:hover{
    transform: scale(1.2);
}

.header-navbar li:last-child{
    margin-left: auto;
}

.header-navbar button, .hero-description button{
    padding: 0.5rem;
    border: 0;
    border-radius: 1rem;
    font-size: 0.8rem;
    font-weight: 500;
    color: black;
    background-color: yellowgreen;
    
}

.header-navbar ul button:hover, .hero-description button:hover{
    background-color: rgb(170, 255, 0);
    color: #003366;
    cursor: pointer;
}

nav a{
    height: 100%;
    text-decoration: none;
    color: white;
    font-weight: 500;
}

.menu-icon{
    display: none;
    
}


.hide-on-mobile{
    display: block;
}

.side-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.side-bar ul{
    width: 100%;
    
}

.side-bar li{
    width: 100%;
    margin: 20px 0 0 30px;
    transition: transform 0.3s ease;
}

.side-bar li:hover{
    transform: scale(1.05);
}

.side-bar li:first-child{
    margin-top: 70px;
}

.side-bar button{
    margin: 20px 0 0 30px; 
}

.side-bar a{
    width: 100%;
}

@media(max-width: 800px){
    .hide-on-mobile{
        display: none;
    }

    .menu-icon{
        display:block
    }
}

@media(max-width: 500px){
    .side-bar{
        width: 100%;
    }
}

/*---MAIN---*/

main{
    flex: 1;
    display: flex;
    flex-direction: column;
}
section{
    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

/*----HERO-SECTION----*/
.hero-section{
    height: min(100vh, 1000px);
    /*max-height: 800px;*/
    margin-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
}
.hero-description{
    max-width: 400px;
    margin-left: 15%;
    display: flex;
    flex-direction: column; 
}
.hero-description h1{
    font-size: 2rem;
    margin-bottom: 10px;
}
.hero-description p{
    margin-bottom: 20px;
    font-size: 1.2rem;
}
.hero-name{
    color: yellowgreen;
}
.hero-description button{
    width: fit-content;
}
.hero-image  img{
    
    border-radius: 50%;
}
@media(max-width: 700px){
    .hero-section{
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .hero-image img{
        margin-left: 20%;
        margin-bottom: 20px;
        max-width: 400px;
    }
    .hero-description{
        margin: 0 20px;
    }
    .hero-description button{
        align-self: center;
    }
}
/*---ABOUT-SECTION---*/
.about-section{

    margin-top: 0px;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.about-section h2{
    font-size: 1.75rem;
    color: yellowgreen;
    margin-bottom: 20px;
}
.text-container{
    border: 2px solid yellowgreen;
    padding: 20px 30px;
    border-radius: 40px;
    width: 70%;
}
.text-container p{
    font-size: 1.1rem;
    line-height: 22px;
}

/*---SKILLS-SECTION---*/

.skills-section{
    height: fit-content;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  
    
}

.skills-section h2{
    color: yellowgreen;
    margin: 0 0 25px 0;
}

.skills-container{
    width: 80%;
    height: fit-content;
    
    
    display: flex;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.skills-title{
    margin: 10px 0;
}
.skill-description{
    width: 300px;
    height: 30px;
    background-color: #0b1c2d;
    display: flex;
    align-items: center;
    
    border-radius: 10px;
}

.skill-progress{
    width: 150px;
    height: 10px;
    border-radius: 8px;
    background-color: lightblue;
}

.progress{
    width: 0;
    height: 100%;
    background-color: yellowgreen;
    transition: width 0.5s ease-in-out;
}

.left{
    margin-right: auto;
    margin-left: 10px;
}

.right{
    margin-right: 10px;
}

@media(min-width: 801px){
    .skills-container{
        height: 300px;
        flex-wrap: wrap;
    }
}

/*---projects-section---*/


/*-----FOOTER----*/

footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.social-container{
    width: 200px;
    display: flex;
    justify-content: space-between;
}

.footer-navbar{
    width: 350px;
}

.footer-navbar ul{
    display: flex;
}

.footer-navbar li{
    list-style: none;
    transition: transform 0.3s ease;
}

.footer-navbar li:hover{
    transform: scale(1.1);
}

.footer-navbar a{
    color: yellowgreen;
}

footer p{
    font-size: 0.8rem;
    color: darkgrey;
}

.flex-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

@media(max-width: 500px){
    .footer-navbar{
        width: fit-content;
    }
    .footer-navbar ul{
        flex-direction: column;
        gap: 10px;
    }
}